{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Ankit's WebApp | </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/project_image/css/style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block head %}{% endblock head %} <!-- Head Block -->

    <style>
        /* Additional styling if needed */
        body { padding-top: 0px; } /* Adjust this value if your navbar is a different height */
    </style>
</head>
<body>

{% block navbar %} <!-- Navbar Block -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="../">Ankit's WebApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "chatbot:about"%}">About</a>
            </li>            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url "chatbot:openai"%}">OpenAI Chatbot</a>
                    <a class="dropdown-item" href="{% url "chatbot:gemini"%}">Google's Gemini</a>
                    <a class="dropdown-item" href="#">Upcoming...</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard#contact">Contact Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "chatbot:input"%}">Input View</a>
            </li> 
        </ul>
    </div>
</nav>
{% endblock navbar %}
    
{% block content %} <!-- Main Content Block -->
{% endblock content %}

{% block footer %} <!-- Footer Block -->
<!-- Optional Footer Content Here -->
<div class="text-center mt-5 fully-transparent-container">
    This website was developed by Ankit
</div>
{% endblock footer %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>