{% extends "chatbot/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5 text-center">
    <div class="row-12">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded p-3 mb-2 bg-light">
            <div class="header">Welcome to the OpenAI based Chatbot of this WebApp.</div>
        </div>
    </div>

    <div class="centered-container">
        <h1 class="heading">Ask me Anything..!</h1>
        <div class="form-container">
            <form method="POST" id="chat-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Generate Response</button>
            </form>
        </div>

        {% if response %}
        <div class="form-container my-2">
            <div id="response">
                <p>Bot's response: {{ response }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
